.budget-form-fill{
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.budget-title{
    margin: 30px;
    font-size: 2.2em;
    font-weight: 500;
    color: #4a4a4a;
    text-align: center;
    
}


.budget-form {
        margin: 30px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        width: 680px;
        height: 390px;
        background-color: #ffffff;
        box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);

}

.bud-label{
    margin: 10px;
    font-size: 1.6em;
    font-weight: 500;
    color: #4a4a4a;
}

.bud-label2{
    margin-right: 38px;
    font-size: 1.6em;    
    color: #4a4a4a;
}


.minBox{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.4s ease;
    margin: 0px 20px 20px 20px;
}

.minBox:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.maxBox{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.4s ease;
    margin: 0px 20px 20px 20px;
}

.maxBox:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.itemBox{
    width: 390px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.4s ease;
    margin-left: 20px;
    margin-top: 30px;
}

.itemBox:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.bud-button-fill{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bud-button {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    background-color: #01022e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.4s ease;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    margin-left: 533px;
}

.bud-button:hover {
    background-color: #040ab9;
}

.small-pop{
    margin-left: 380px;
}

.ai-logo{
    margin-left: 10px;
    width: 20px;
    height: 20px;
}