.headerBar{
    width:100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #01022e;

}

.logo{
    width: 280px;
    height: 50px;
    cursor: pointer;
}

.nav{
    flex: 1;
    list-style: none;
    text-align: center;
    display: flex;
}

.nav-li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    color: #fff;
    cursor: pointer
}

.nav-li:hover{
    transform: scale(1.2);
    transition: transform 0.3s;
}

.searchBar{
    display: flex;
    align-items: center;  
    padding: 10px 20px;
    margin-right: 30px;
}

.searchBar:hover{
    transform: scale(1.2);
    transition: transform 0.3s;
}

.user{
    margin: 20px;
    display: flex;
    align-items: center;
    img{
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }
}

.linkText{
    color: #fff;
    text-decoration: none;
}

.linkText:hover{
    transform: scale(1.2);
    transition: transform 0.3s;
}

.cart-logoo{
    margin-left: 10px;
    margin-right: 30px;
    width: 25px;
    height: 25px;
}

.cart-logoo:hover{
    transform: scale(1.2);
    transition: transform 0.3s;
}