.list-fill{
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-item1{
    width: 302px;
    height: 600px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
    margin: 20px;
}

.list-item1-img{
    width: 300px;
    height: 450px;
    border: 2px solid #e0e0e0;
}

.list-item2{
    width: 302px;
    height: 600px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
    margin: 20px;
}

.list-item2-img{
    width: 300px;
    height: 450px;
    border: 2px solid #e0e0e0;
}

.list-item3{
    width: 302px;
    height: 600px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
    margin: 20px;
}

.list-item3-img{
    width: 300px;
    height: 450px;
    border: 2px solid #e0e0e0;
}

.list-item4{
    width: 302px;
    height: 600px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
    margin: 20px;
}

.list-item4-img{
    width: 300px;
    height: 450px;
    border: 2px solid #e0e0e0;
}

.cart-logo{
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

.list-button-fill{
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-button {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    background-color: #01022e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.4s ease;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    margin-left: 1170px;
}

.list-button:hover {
    background-color: #040ab9;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.6);
}

.list-item1-title{
    font-size: 1.2em;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 10px;
    margin-top: 10px;
}

.list-item1-price{
    font-size: 1.1em;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 10px;
    margin-top: 10px;
}

.list-end{
    display: flex;
}