.cart-table th:first-child {
    border-radius: 30px 0 0 30px;
}

.cart-table th:last-child {
    width: max-content;
    border-radius: 0 30px 30px 0;
}

.cart-table th {
    background-color: #D9D9D9;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cart-table img {
    max-width: 100px;
    max-height: 100px;
}

.cart-card {
    border: 1px solid #C3C3C3;
    border-radius: 30px;
    padding: 15px 15px 50px 15px;
    /* width: 180px; */
}

.cart-card .title {
    background-color: #D9D9D9;
    border-radius: 30px;
    padding: 10px 0px 10px 10px;
    /* text-align: center; */
    font-weight: 600;
}

.btn-checkout {
    background: #01022e;
    border-radius: 32px;
    width: 80%;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.container-fluid {
    padding: 20px 20%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    margin-bottom: 30px;
    background: linear-gradient(#01022e, #ffffff);
    min-height: 300px;
    /* display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif; */
}

.page-title {
    text-align: left;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #ffffff;
    /* padding-bottom: 40px; */
}

.btn-fill {
    background: #01022e;
    border-radius: 32px;
    color: #fff;
    padding: 15px 25px 15px 25px;
    border: none;
    /* cursor: pointer; */
}

.btn-clear {
    background-color: transparent;
    border-radius: 32px;
    color: #01022e;
    padding: 15px 25px 15px 25px;
    border: 1px solid #01022e;
    /* cursor: pointer; */
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.align-middle {
    align-self: center;
}
.cart-item{
    background-color: #ffffff87;
}

td {
    padding: 10px;
    text-align: center;
}
th {
    padding: 10px;
    text-align: center;
}

.col-8 {
    padding: 10px;
    text-align: center;
}