.checkout-card {
    text-align: left;
    border-radius: 56px;
    border: 1px solid #01022e;
    background-color: #e3e5fb5e;
    padding-left: 56px;
}

.checkout-card .card-right {
    text-align: left;
    border-radius: 0 56px 56px 0;
    background-color: #d3e1ff;
    width: 647px;
    padding: 30px;
}

.checkout-card .title {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #01022e;
}

.checkout-container {
    padding: 20px 280px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    margin-bottom: 30px;
    background: linear-gradient(#01022e, #ffffff);
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.mb-1 {
    padding: 0 10px;
}

.col-xl-3 {
    height: 100px;
    img {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }

}
.mx-2{
    width: 10px;
}